.site-header {
  background-color: #fff;
}
.site-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #222;
}
.sitenav-list a {
  text-decoration: none;
  color: #000;
}
.sitenav-link {
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 150%;
letter-spacing: 2px;
text-transform: uppercase;
}
.main-link {
font-family: Open Sans Condensed;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 150%;
letter-spacing: 2px;
text-transform: uppercase;
text-decoration: none;
background: #DE2E54;
color: #fff;
}
.hero {
  background-color: #0EB4C1;
  color: #fff;
}
.hero-content {
  width: 1440px;
  
}
.hero-heading {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
}
.hero-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
}
.hero-img {
  width:"423px"; 
  height:"504px";
}
.services-bg {
  width: 1440px;

  left: 0px;
  top: 631px;
  background: #FFFFFF;
}
.services-heading {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
}
.services-img {
  width: 200px;
  height: 200px;
  left: 0px;
  top: 0px;
}
.services-title {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
}
.services-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}
.info {
  width: 1440px;
  height: 253px;
  left: 1px;
  top: 2117px;

  background: #0EB4C1;
}
.info-heading {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;  
  color: #fff;
}
.info-list a {
  text-decoration: none;
  color: #fff; 
}
.info-title {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 2px;
  text-transform: uppercase; 
}
.footer {
  width: 1440px;
  
  left: 0px;
  top: 2370px;
  background: #222;
}
.footer-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #fff;
}
.footer-list a {
  text-decoration: none;
  color: #fff;
}
.footer-links {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;  
  letter-spacing: 2px;
  text-transform: uppercase;
}