* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
*:focus {
  outline: 2px dotted #e01441;
  outline-offset: 3px;
}
.container {
  width: 100%;
  max-width: 1400px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.site-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header {
  width: 1440px;
  background-color: #fff;
  padding: 24px;
}
.logo-content {
  display: flex;
  align-items: center;
  margin-left: 100px;
}
.logo-content a {
  text-decoration: none;
}
.site-text:hover {
  color:#e01441;
}
.site-text:active {
  color: rgb(60, 9, 245);
  opacity: 0.6;
}
.site-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #222;
  transition: opacity 0.4s ease;
}
.site-header-actions {
  display: flex;
  align-items: center;
}
.sitenav-list a {
  text-decoration: none;
  color: #000;
}
.sitenav-list {
  display: flex;
  list-style: none;
  margin: 0;
  margin-right: 150px;
}
.sitenav-item {
  margin-right: 32px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}
.sitenav-item:last-child {
  margin-right: 0;
}
.main-link {
font-family: Open Sans Condensed;
font-style: normal;
font-weight: bold;
font-size: 15px;
text-transform: uppercase;
text-decoration: none;
border: 2px solid #DE2E54;
box-sizing: border-box;
border-radius: 8px;
background: #DE2E54;
color: #fff;
transition: opacity 0.4s ease;
padding: 12px 24px;
margin-right: 100px;
}
.main-link:hover {
  background:#fff;
  color: #DE2E54;
}
.main-link:active {
  opacity: 0.6;
}
.hero {
  width: 1440px;
  background-color: #0EB4C1;
  color: #fff;
}
.hero-container {
  display: flex;
  align-items: center;
}
.hero-content {
  width: 1440px;
  margin-left: 100px;
}
.hero-heading {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
}
.hero-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 60px;
}
.hero-img {
  height: 450px;
  margin-right: 120px;
  margin-top: 40px;
  
}
.services-bg {
  justify-content: center;
  width: 1440px;
  background: #FFFFFF;
}
.frame {
  display: flex;
}
.frame-img {
  margin-left: 230px;
  display: flex;
}
.frame-in {
  margin-left: 70px;
}
.services-heading {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  margin-left: 600px;
  margin-top: 100px;
}
.services-img {
  width: 200px;
  height: 200px;
}
.services-title {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
}
.services-text {
  justify-content: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}
.frame-link {
  margin-top: 100px;
  margin-bottom: 120px;
  margin-left: 70px;
}
.info {
  display: flex;
  width: 1440px;
  background: #0EB4C1;
}
.cta-heading {
  margin-left: 500px;
  margin-top: 50px;
}
.info-heading {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;  
  color: #fff;
}
.info-list a {
  text-decoration: none;
  color: #fff; 
}
.info-list {
  display: flex;
  list-style: none;
}
.info-title {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase; 
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 12px 24px;
  margin-left: 420px;
  margin-bottom: 30px;
}
.info-title:last-child {
  margin-left: 40px;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer {
  width: 1440px;
  background: #222;
  padding: 24px;
}
.logo-footer {
  display: flex;
  align-items: center;
  margin-right: 100px;
}
.logo-footer a {
  text-decoration: none;
}
.img {
  width: 50px;
  height: 50px;
}
.footer-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  transition: opacity 0.4s ease;
}
.footer-text:hover {
  color:#DE2E54;
}
.footer-text:active {
  opacity: 0.6;
}
.footer-list a {
  text-decoration: none;
  color: #fff;
}
.footer-list {
  display: flex;
  list-style: none;
}
.footer-links {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  transition: opacity 0.4s ease;
  margin-right: 50px;
}
.footer-links:last-child {
  margin-right: 100px;
}